TAG=17-slim-bim
OPENPROJECT_HTTPS=false
OPENPROJECT_HSTS=false
OPENPROJECT_HOST__NAME=192.168.0.6:8081
PORT=8081
OPENPROJECT_RAILS__RELATIVE__URL__ROOT=
OPENPROJECT_DISABLE_HOSTNAME_VALIDATION=true
OPENPROJECT_URL=http://web:8081
SECRET_KEY_BASE=OVERWRITE_ME
IMAP_ENABLED=false
DATABASE_URL=postgres://postgres:p4ssw0rd@db/openproject?pool=20&encoding=unicode&reconnect=true
RAILS_MIN_THREADS=4
RAILS_MAX_THREADS=16
PGDATA=/opt/appdata/openproject/postgres
OPDATA=/opt/appdata/openproject/assets
COLLABORATIVE_SERVER_URL=ws://web:8080/hocuspocus
COLLABORATIVE_SERVER_SECRET=secret12345
POSTGRES_VERSION=17
POSTGRES_PASSWORD=p4ssw0rd
